@{
    Layout = null;
    int id = Convert.ToInt32(ViewData["Id"].ToString());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>
    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="@Url.Action("ChangePassword","Store")" method="post">
                        @Html.AntiForgeryToken()
                        <h1>Change Password</h1>
                        @if(ViewBag.Password!="True")
                        {
                            <div style="color:red">Old Password is wrong</div>
                        }
                        <div>
                            <input type="text" style="display:none" value="@id" name="Id" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" id="oldpassword" name="OldPassword"  class="form-control" placeholder="Old Password" required="" />
                        </div>
                        <div>
                            <input type="password" id="password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" required="" />
                        </div>
                        <div>

                            <input type="submit" class="btn btn-default submit" value="Save" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Quick Order</h1>
                                Copyright @(DateTime.Now.Year - 1) - @DateTime.Now.Year © Radhakrishna Foodland Pvt Ltd.<br />All Rights Reserved.(RFPL IT Team)
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            
        </div>
        <script>
            var password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>
    </div>
</body>
</html>
