@using DbLayer.Repository
@using DAL
@using StoreOrderingDashBoard.Models;

@{
    CustomerRepository customerRepository = new CustomerRepository();
    int custid = 0;
    Customer SessionCustomer = new Customer();
    if (@SessionValues.LoggedInCustId != null)
    {
        custid = Convert.ToInt32(@SessionValues.LoggedInCustId);
        SessionCustomer = customerRepository.GetCustomerContextById(custid);
    }
    ViewBag.Title = "ResetUserPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/vendors/jquery-ui/jquery-ui.css" rel="stylesheet" />
<div class="right_col" role="main">
    <div class="row">
        <div class="page-title">
            <div class="title_left">
                <h3>Stores @*<small>Some examples to get you started</small>*@</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="height: auto;">
                    <div class="x_content">
                        <br>
                        <div class="form-horizontal form-label-left input_mask">
                            <div class="form-group">
                                <label class="control-label">Customer</label>
                                <div class="row">
                                    <input type="text" class="form-control " disabled value="@SessionCustomer.Name">
                                </div>
                                <label class="control-label ">Search StoreCode</label>
                                <div class="row">
                                    <input type="text" class="form-control" id="autoStoreCode" placeholder="Type Store Code...">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable" class="table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 157px;">UserName</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Store Code: activate to sort column ascending" style="width: 115px;">Store Code</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="width: 115px;">Email Address</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="User Type: activate to sort column ascending" style="width: 117px;">User Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Reset: activate to sort column ascending" style="width: 60px;">Reset Password</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/vendors/jquery-ui/jquery-ui.js"></script>
<script src="~/Content/vendors/jquery-ui/jquery-ui.min.js"></script>
@*<script src="~/Content/vendors/devbridge-autocomplete/src/jquery.autocomplete.js"></script>*@
<script>
    var Table;
    $(document).ready(function () {
         Table = $("#datatable").DataTable({
            fixedHeader: true,
            "paging": true,
            "searching": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
    });

    $('#autoStoreCode').autocomplete({
        //serviceUrl: '@Url.Action("AutoStoreCode","Store")
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("AutoStoreCode", "Store")',
                data: "{ 'search': '" + request.term + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    response($.map(data, function (item) {
                                return item;
                            }))
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        },
        minLength: 2,
        select: function (event, ui) {
            //alert("Selected: " + ui.item.value + " aka " + ui.item.data);
            Table.destroy();
            Table = $("#datatable").DataTable({
                    "ajax": {
                        "url": '@Url.Action("GetStoreUserForStoreId", "Store")',
                        "type": "Post",
                        "dataType": "JSON",
                        "data": {
                            "StoreId": parseInt(ui.item.data),
                            "StoreCode": ui.item.value
                        }
                    },
                    "columns": [
                           {
                            "data": "UserName", "autoWidth": true,
                               render: function (data, type, row, meta) {
                                   return '<p id="' + row.Id + '">' + row.Name + '</p>';
                               }
                           },
                           {
                               "data": "Store Code", "autoWidth": true,
                               render: function (data, type, row, meta) {
                                   return '<p>' + row.StoreCode + '</p>';
                               }
                           },
                           {
                               "data": "Email Address", "autoWidth": true,
                               render: function (data, type, row, meta) {
                                   return '<p>' + row.EmailAddress + '</p>';
                               }
                           },
                           {
                               "data": "User Type", "autoWidth": true,
                               render: function (data, type, row, meta) {
                                   return '<p>' + row.MkrChkrFlag + '</p>';
                               }
                           },
                           {
                               "data": "Reset Password", "autoWidth": true,
                               render: function (data, type, row, meta) {
                                   //return '<button type="text" class="form-control" id="Reason' + row.EmpId + '" />';
                                   return "<button class='btn btn-info datatable-btn' type='button' onclick='ResetPassword(" + row.Id + ",\"" + row.EmailAddress +"\")'>Reset Password</button>";
                               }
                           }
                    ],
                    "paging": true,
                    "searching": true
                });
        },
     });
</script>
<script>
    function ResetPassword(UserId,EmailAddress)
    {
        debugger;
        var r = confirm("Are you Sure Want to Reset Password for user" + EmailAddress+"?");
        if (r) {
            $('.loader').show();
              $.ajax({
                                    url: "@Url.Action("ResetPasswordForUser", "Store")",
                                    type: "POST",
                                    data: {
                                        "UserId": UserId
                                    },
                                    success: function (response) {
                                        if (response) {
                                            debugger;
                                            alert("Reset Password Successfully");
                                            window.location.reload();
                                        }
                                    }
                                });
            @*$.ajax({
                url: "@Url.Action("ResetPasswordForUser", "Store")",
                type: "POST",
                data: {
                    "UserId": UserId
                },
                success: function (response) {
                    if (response) {
                        debugger;
                        alert("Reset Password Successfully");
                        window.location.reload();
                    }
                }
            });*@
        }
    }
</script>