@using DAL
@model EscalationLevelMaster
@{
    ViewBag.Title = "Edit Escalation Level";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .checkbox input[type=checkbox] {
        margin-left: 0px;
    }
</style>
<div class="right_col" role="main">
    <div class="row">
        <div class="page-title">
            <div class="title_left">
                <h3>Edit Escalation Level</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Escalation Level<small> Form</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id,  new { type="hidden", @Value = Model.Id})
                            <div class="form-group">
                                @Html.LabelFor(model => model.TriggerType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*@Html.EditorFor(model => model.TriggerType, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.TriggerType, new SelectList(ViewBag.TriggerTypeList, "Value", "Text", Model.TriggerType), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TriggerType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProcessId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*@Html.EditorFor(model => model.ProcessId, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.DropDownListFor(model => model.ProcessId, new SelectList(ViewBag.ProcessList, "Value", "Text", Model.ProcessId), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ProcessId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LevelID, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*@Html.EditorFor(model => model.LevelID,new { htmlAttributes = new { @class = "form-control", min = "1", @Value = Model.LevelID } })*@
                                    <input type="number" id="LevelID" name="LevelID" class="form-control" required="required" value="@Model.LevelID" min="1" />
                                    @Html.ValidationMessageFor(model => model.LevelID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TriggerTime, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @*@Html.EditorFor(model => model.TriggerTime, new { htmlAttributes = new { @class = "form-control timepicker", type = "time", @Value =Model.TriggerTime} })*@
                                    <input type="time" id="TriggerTime" name="TriggerTime" class="form-control" required="required" value="@Model.TriggerTime"/>
                                    @Html.ValidationMessageFor(model => model.TriggerTime, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDeleted, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" , @Value = Model.IsDeleted})
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="checkbox">
                                        @*@Html.EditorFor(model => model.IsDeleted)*@
                                        @*<input type="checkbox" id="IsDeleted" name="IsDeleted" checked="@Model.IsDeleted" />*@
                                        @Html.CheckBoxFor(m => m.IsDeleted)
                                        @Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-6 col-sm-6 col-xs-12">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
