
@using DAL
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_content">

            <table id="example" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>SKU Code</th>
                        <th>Item Description</th>
                        @*<th>PackingDescription</th>*@
                        <th>Category</th>
                        <th>UOM</th>
                        <th>Max Order Limit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.OrderList != null)
                    {
                        int i = 1;
                        foreach (OrderDetail order in ViewBag.OrderList)
                        {
                            if (order.Item != null)
                            {
                                <tr>
                                    <td>@order.Item.Id</td>
                                    <td>@order.Item.SKUCode</td>
                                    <td>@order.Item.SKUName</td>
                                    <td>@order.Item.Category.CaseConversion</td>
                                    <td>@order.Item.UOMmaster.UnitofMasureDescription</td>
                                    <td>@order.Item.MaximumOrderLimit</td>
                                    <td>@order.Quantity</td>
                                </tr>
                            }

                            i++;
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".loader").hide();
            //t = $('#example').DataTable();
            $("#example").DataTable({
                dom: "Blfrtip",
                buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    },
                    {
                        extend: "csv",
                        className: "btn-sm"
                    },
                    {
                        extend: "excel",
                        className: "btn-sm"
                    },
                    {
                        extend: "pdfHtml5",
                        className: "btn-sm"
                    },
                    {
                        extend: "print",
                        className: "btn-sm"
                    },
                ],
                responsive: true
            });
        });
    </script>
</div>

