@using BAL
@using DAL
@{
    ViewBag.Title = "AgeingReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string startdate = ViewData["StartDate"].ToString();
    string enddate = ViewData["EndDate"].ToString();
    string UniqueReferenceID = ViewData["UniqueReferenceID"] != null ? ViewData["UniqueReferenceID"].ToString() : "";

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Booked not Invoiced",
        Value = "1"
    });
    //listItems.Add(new SelectListItem {Text = "Invoiced not delivered", Value = "2"});
    //listItems.Add(new SelectListItem {Text = "Delivered no POD", Value = "3"});
}
<style>
    .btn-link {
        text-decoration: underline;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="page-title">
        <div class="title_left">
            <h3>Ageing Report</h3>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form id="demo-form" method="post" action="@Url.Action("AgeingReport2","Report")">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label for="FromDate">Order From Date</label>
                                <input type="date" value="@startdate" class="form-control" name="FromDate" id="FromDate" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label for="enddate">Order To Date</label>
                                <input type="date" value="@enddate" class="form-control" name="ToDate" id="ToDate" />
                            </div>
                            @*<div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Report Type</label>
                                @Html.DropDownList("ReportType", listItems, new { @class = "form-control" })
                            </div>*@
                            @Html.Hidden("ReportType",1)
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>City</label>
                                @Html.ListBox("SelectedLocations", (MultiSelectList)ViewBag.Locations, new { size = 4, @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>DC</label>
                                @* @Html.DropDownList("SelectedDC", new SelectList(ViewBag.DCs, "Value", "Id", ViewBag.SelectedDCs), "Please select", new { @class = "form-control" })*@
                                @Html.ListBox("SelectedDC", (MultiSelectList)ViewBag.DCs, new { size = 4, @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>Store Code</label>
                                @Html.ListBox("SelectedStores", (MultiSelectList)ViewBag.Stores, new { size = 4, @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>SKU Category Type</label>
                                @Html.ListBox("SelectedTypes", (MultiSelectList)ViewBag.ItemTypes, new { size = 4, @class = "form-control" })
                                <p class="text text-danger" style="margin-top:5px;" id="SelectedTypesError"></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>SKU Category</label>
                                @Html.ListBox("SelectedCategories", (MultiSelectList)ViewBag.ItemCategories, new { size = 4, @class = "form-control" })
                                <p class="text text-danger" style="margin-top:5px;" id="SelectedCategoriesError"></p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>SKU Code</label>
                                @Html.ListBox("SelectedSKUs", (MultiSelectList)ViewBag.Items, new { size = 4, @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-right">
                                    <br />
                                    <input type="submit" class="btn btn-default btn btn-success" style="margin-bottom:0px;" value="Search" />
                                    <input type="submit" value="Export to Excel" name="Edit" formaction="@Url.Action("AgeingReportExportExcel2")" formmethod="post" class="btn btn-default" style="margin-bottom:0px;" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        @*<strong id="title"> Name: Daily Sales Report</strong>*@
                        <br />
                        <span id="message" name="Message"> Store Order Date: From: @startdate To: @enddate</span>
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>

                                <th>EnterPriseCode</th>
                                <th>EnterpriseName</th>
                                <th>StoreCode</th>
                                <th>Age 0-3</th>
                                <th>Age 3-5</th>
                                <th>Age 5-7</th>
                                <th>Age 7-10</th>
                                <th>More than 10</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.FinalizedReports != null)
                            {
                                int i = 1;
                                foreach (AgeingReport head in ViewBag.FinalizedReports)
                                {
                                    <tr>

                                        <td>@(head.EnterpriseCode)</td>
                                        <td>@(head.EnterpriseName)</td>
                                        <td>@(head.Store_Code + " : " + head.StoreName)</td>
                                        <td><a href='#' class="btn-link" onclick="ViewAgeDetail('@head.Store_Code', @head.A0_5, '1');">@head.A0_3</a></td>
                                        <td><a href='#' title="click to view details" class="btn-link" onclick="ViewAgeDetail('@head.Store_Code', @head.A3_5, '2');">@head.A6_10</a></td>
                                        <td><a href='#' title="click to view details" class="btn-link" onclick="ViewAgeDetail('@head.Store_Code', @head.A5_7, '3');">@head.A11_15</a></td>
                                        <td><a href='#' title="click to view details" class="btn-link" onclick="ViewAgeDetail('@head.Store_Code', @head.A7_10, '4');">@head.Above_16</a></td>
                                        <td><a href='#' title="click to view details" class="btn-link" onclick="ViewAgeDetail('@head.Store_Code', @head.Above_10, '4');">@head.Above_16</a></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AgingDetail_Model" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ageing Details</h4>
                    </div>
                    <div class="modal-body">
                        <div id="partial"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $(".loader").hide();
                        
            var titleText = 'Store Order Date: From: ' + convertDate($("#FromDate").val()) + ' To: ' + convertDate($("#ToDate").val()) + '';
            
            $("#message").text(titleText);
            /**/
            var table;
            table = $("#datatable").DataTable({
                responsive: true,
                "paging": false,
                "scrollY": '100vh',
                "scrollCollapse": true,
                dom: 'l<"toolbar">frtip',
            });
            $("div.toolbar").html('<b>TOTAL ROW COUNT: ' + table.rows().count() + '</b>');
           $('#SelectedLocations').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                maxHeight: 150,
                enableFiltering: true
            });
            $('#SelectedDC').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                enableFiltering: true
            });
            $('#SelectedStores').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                maxHeight: 150,
                enableFiltering: true
            });

            $('#SelectedTypes').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                maxHeight: 150,
                enableFiltering: true
            });
            $('#SelectedCategories').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                maxHeight: 150,
                enableFiltering: true
            });

            $('#SelectedSKUs').multiselect({
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                buttonWidth: '100%',
                maxHeight: 150,
                enableFiltering: true
            });
            $("#SelectedLocations").change(function (){
            var SelectedLocations = $(this).val()
                $.ajax({
                    url: '@Url.Action("GetWareHouseDCForLocations", "Order")',
                    type: 'POST',
                    dataType: "JSON",
                    data: {
                        "SelectedLocations": SelectedLocations
                    },
                    success: function (result) {
                        $("#SelectedDC").html("");
                        var markup = "";
                        for (var x = 0; x < result.data.length; x++) {
                            markup += "<option value=" + result.data[x].Id + ">" + result.data[x].Name + "</option>";
                        }
                        $("#SelectedDC").html(markup);
                        $("#SelectedDC").multiselect('destroy');
                        $('#SelectedDC').multiselect({
                            includeSelectAllOption: true,
                            enableCaseInsensitiveFiltering: true,
                            buttonWidth: '100%',
                            maxHeight: 150,
                            enableFiltering: true
                        });
                        $("#SelectedDC").trigger("change");
                    },
                    error: function (reponse) {
                        alert("error : " + reponse)
                    },
                });
            });
            $("#SelectedDC").change(function () {
                var SelectedWareHouseDCs = $(this).val();
                var SelectedLocations = $("#SelectedLocations").val();
                $.ajax({
                    url: '@Url.Action("GetStoresForWareHouse", "Order")',
                    type: 'POST',
                    dataType: "JSON",
                    data: {
                        "SelectedWareHouseDCs": SelectedWareHouseDCs,
                        "SelectedLocations": SelectedLocations,
                        "OrderReport":"Report"
                    },
                    success: function (result) {
                        $("#SelectedStores").html("");
                        var markup = "";
                        for (var x = 0; x < result.data.length; x++) {
                            markup += "<option value=" + result.data[x].Id + ">" + result.data[x].StoreCode + "</option>";
                        }
                        $("#SelectedStores").html(markup);
                        $("#SelectedStores").multiselect('destroy');
                        $('#SelectedStores').multiselect({
                            includeSelectAllOption: true,
                            enableCaseInsensitiveFiltering: true,
                            buttonWidth: '100%',
                            maxHeight: 150,
                            enableFiltering: true
                        });
                    },
                    error: function (reponse) {
                        alert("error : " + reponse)
                    },
                });
            });

            $("#SelectedTypes").change(function () {
                var SelectedItemTypes = $(this).val()
                $.ajax({
                    url: '@Url.Action("GetCatgoriesForItemTypes", "Order")',
                    type: 'POST',
                    dataType: "JSON",
                    data: {
                        "SelectedItemTypes": SelectedItemTypes
                    },
                    success: function (result) {
                        $("#SelectedCategories").html("");
                        var markup = "";
                        for (var x = 0; x < result.data.length; x++) {
                            markup += "<option value=" + result.data[x].Id + ">" + result.data[x].CategoryName + "</option>";
                        }
                        $("#SelectedCategories").html(markup);
                        $("#SelectedCategories").multiselect('destroy');
                        $('#SelectedCategories').multiselect({
                            includeSelectAllOption: true,
                            enableCaseInsensitiveFiltering: true,
                            buttonWidth: '100%',
                            maxHeight: 150,
                            enableFiltering: true
                        });
                        $("#SelectedCategories").trigger("change");
                    },
                    error: function (reponse) {
                        alert("error : " + reponse)
                    },
                });
            });
            $("#SelectedCategories").change(function () {
            var SelectedCategories = $(this).val();
            var SelectedTypes = $("#SelectedTypes").val();
            $.ajax({
                url: '@Url.Action("GetItemsForSKUCategory", "Order")',
                type: 'POST',
                dataType: "JSON",
                data: {
                    "SelectedCategories": SelectedCategories,
                    "SelectedTypes": SelectedTypes,
                    "OrderReport":"Report"
                },
                success: function (result) {
                    $("#SelectedSKUs").html("");
                    var markup = "";
                    for (var x = 0; x < result.data.length; x++) {
                        markup += "<option value=" + result.data[x].Id + ">" + result.data[x].SKUCode + "</option>";
                    }
                    $("#SelectedSKUs").html(markup);
                    $("#SelectedSKUs").multiselect('destroy');
                    $('#SelectedSKUs').multiselect({
                        includeSelectAllOption: true,
                        enableCaseInsensitiveFiltering: true,
                        buttonWidth: '100%',
                        maxHeight: 150,
                        enableFiltering: true
                    });
                },
                error: function (reponse) {
                    alert("error : " + reponse)
                },
            });
        });
        });

        function convertDate(dateString) {
            var p = dateString.split(/\D/g)
            return [p[2], p[1], p[0]].join("-");
        }

        function ViewAgeDetail(StoreCode, vAge, vvAgeRange) {
            var vFromDate = $("#FromDate").val();
            var vTodate = $("#ToDate").val();
            var vSelectedDC = $('select#SelectedDC').val();
               vSelectedStores = $('select#SelectedStores').val(),
                vSelectedSKUs = $('select#SelectedSKUs').val(),
                vReportType = $('#ReportType').val(),
                vUniqueReferenceID = "";

            //$('#partial').load();
            //$("#AgingDetail_Model").modal('show');
            var route = '@Url.Action("AgeingDetailReport2", "Report")?SelectedDC=' + vSelectedDC + '&SelectedStores=' + StoreCode + '&SelectedSKUs=' + vSelectedSKUs + '&ReportType=' + vReportType + '&Age=' + vAge + '&vAgeRange=' + vvAgeRange + '&FromDate=' + vFromDate + '&ToDate=' + vTodate;
            //$('#partial').load(route);
            @*$.ajax({
                url: '@Url.Action("AgeingDetailReport", "Report")',
                type: 'POST',
                dataType: "JSON",
                data: {
                    "SelectedDC": vSelectedDC,
                    "SelectedStores": StoreCode,
                    "SelectedSKUs": vSelectedSKUs,
                    "ReportType": vReportType,
                    "Age": vAge,
                    "vAgeRange": vvAgeRange,
                    "FromDate": vFromDate,
                    "ToDate": vTodate
                },
                success: function (reponse) {
                    $('#partial').html(reponse);
                },
                error: function (reponse) {
                    alert("error : " + reponse)
                },
            });*@
        }
        $('#demo-form').submit(function (e) {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var date1 = new Date(FromDate);
            var date2 = new Date(ToDate);
            var datediffmill = date2 - date1;
            var datediff = datediffmill / (1000 * 60 * 60 * 24)
            if (datediff > 30) {
                alert("Search Date Limit Exceeded.\nPlease Select Date Range Between 30 Days");
                e.preventDefault();
            }
            else {
                return true;
            }
        });
        $('#FromDate').change(function (e) {
            var FromDate = $("#FromDate").val();
            var date1 = new Date(FromDate);
            date1.setDate(date1.getDate() + 30);
            $("#ToDate").val(FormatDate(date1));
        })
         function FormatDate(date) {
            month = '' + (date.getMonth() + 1),
                day = '' + date.getDate(),
                year = date.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;
            return [year, month, day].join('-');
        }
    </script>
</div>